@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    background-color: #f2f2f2;
    font-family: 'Inter', sans-serif;
  }
  
  .carrito {
    width: 24px;
    height: 24px;
  }

.headerCar{
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerCarLink{
  text-decoration: none;
  color: black;
}

.headerCarLink span{
  margin: 0 1.5em;
}
